.nav{
    display: inline-block;    
}
nav a{
    padding: 0.6%;
}
nav a.active{
    background-color: teal;
    color: white;
}
.jumbotron{
    margin-top: 10px;
    text-align: center;
    font-size: 170%;
}
.motto{
    font-style: italic;
    color: green;
}
body{
    margin-top: 10px;
    text-align: right;
}
.head{
    margin-top: 10px;
    background-image: url("../pics/Pizza.jpg");
    padding: 17%;
    background-size: cover;
    color: white;
    font-size: 30px;
    font-weight: bolder;   
}
.service{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}
