.nav{
    display: inline-block; 
       
}
nav a{
    padding: 0.6%;
}
#navv{
    text-align: right;
}
nav a.active{
    background-color: teal;
    color: white;
}
.jumbotron{
    margin-top: 10px;
    text-align: center;
    font-size: 370%;
    color: red;
    font-weight: bolder;
    
}
.motto{
    font-style: italic;
    color: yellow;
    font-size: 50px;
}
body{
    margin-top: 10px;
    text-align: center;
    font-size: 160%;
    background-image: url("../pics/img4.jpg");
}
.head{
    margin-top: 10px;
    background-image: url("../pics/Pizza.jpg");
    padding: 17%;
    background-size: cover;
    color: white;
    font-size: 30px;
    font-weight: bolder;   
}
.service{
    text-align: center;
    font-size: 25px;
    margin-top: 2%;
}
.piz{
    display: none;
}
.tops{
    display: none;
}
.crr{
    display: none;
}
.foot{
    background-image: url("../pics/img.jpg");
    padding: 10%;
}
